<a href="https://colab.research.google.com/github/Neel7317/Machine-Learning/blob/master/Naive_Bayes_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("data.csv")

In [5]:
df.head()

   glucose  bloodpressure  diabetes
0       40             85         0
1       40             92         0
2       45             63         1
3       45             80         0
4       40             73         1

In [7]:
X_train,X_test,y_train,y_test=train_test_split(df.drop('diabetes',axis=1),df['diabetes'],test_size=0.25,random_state=2)

In [9]:
model=GaussianNB()

In [10]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [11]:
y_pred=model.predict(X_test)

In [12]:
accuracy_score(y_test,y_pred)

0.9437751004016064