<a href="https://colab.research.google.com/github/Neel7317/Machine-Learning/blob/master/RandomForest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

Problem Definition

The problem here is to predict the gas consumption (in millions of gallons) in 48 of the US states based on petrol tax (in cents), per capita income (dollars), paved highways (in miles) and the proportion of population with the driving license.

In [2]:
df=pd.read_csv('petrol_consumption.csv')

In [3]:
df.head()

   Petrol_tax  Average_income  ...  Population_Driver_licence(%)  Petrol_Consumption
0         9.0            3571  ...                         0.525                 541
1         9.0            4092  ...                         0.572                 524
2         9.0            3865  ...                         0.580                 561
3         7.5            4870  ...                         0.529                 414
4         8.0            4399  ...                         0.544                 410

[5 rows x 5 columns]

In [4]:
df.describe()

       Petrol_tax  ...  Petrol_Consumption
count   48.000000  ...           48.000000
mean     7.668333  ...          576.770833
std      0.950770  ...          111.885816
min      5.000000  ...          344.000000
25%      7.000000  ...          509.500000
50%      7.500000  ...          568.500000
75%      8.125000  ...          632.750000
max     10.000000  ...          968.000000

[8 rows x 5 columns]

Here we are see that data has diffrent scale but we dont require to rescale the data because we use random forest which internally use Decision tree so scaling data doest afftect in traning of Decision tree as well as Random forest.

In [5]:
#prepare data for training
X=df.drop(['Petrol_Consumption'],axis=1)
Y=df['Petrol_Consumption']

In [6]:
#split into training and testing

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,random_state=2,test_size=0.25)

In [9]:
from sklearn.ensemble import RandomForestRegressor

In [10]:
model=RandomForestRegressor(n_estimators=20,criterion='mse')

In [11]:
model.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=20, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [12]:
y_pred=model.predict(X_test)

In [13]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [14]:
print(mean_squared_error(y_test,y_pred))

3272.721250000001

In [15]:
print(mean_absolute_error(y_test,y_pred))

39.44166666666667

In [16]:
print(r2_score(y_test,y_pred))

-0.573823018661253

In [17]:
model2=RandomForestRegressor(n_estimators=200,random_state=1)

In [18]:
model2.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)

In [19]:
y_pred=model2.predict(X_test)

In [20]:
print(mean_squared_error(y_test,y_pred))

2159.9145541666653

In [21]:
print(mean_absolute_error(y_test,y_pred))

32.95749999999999

In [22]:
print(r2_score(y_test,y_pred))

-0.03868401370540009

In [23]:
p=model2.predict([[9.0,3571,1976,0.525]])

In [24]:
p

array([529.88])

In [27]:
p2=model2.predict([[8.8,4399,431,0.544]])

In [28]:
print(p2)

[454.86]

##Random Forest for Classification

In [29]:
dataset=pd.read_csv('/content/bill_authentication.csv')

In [30]:
dataset.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [31]:
dataset.Class.value_counts()

0    762
1    610
Name: Class, dtype: int64

so from above we can see that its not imbalanced dataset.

And random forest doesnt require scaling

In [32]:
X=dataset.drop(['Class'],axis=1)
y=dataset['Class']

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=1,test_size=0.25)

In [36]:
from sklearn.ensemble import RandomForestClassifier

In [37]:
model=RandomForestClassifier(n_estimators=10,n_jobs=-1)

In [38]:
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
                       oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [39]:
y_pred=model.predict(X_test)

In [40]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [41]:
print(confusion_matrix(y_test,y_pred))

[[192   1]
 [  0 150]]

In [42]:
print(accuracy_score(y_test,y_pred))

0.9970845481049563

In [43]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00       193
           1       0.99      1.00      1.00       150

    accuracy                           1.00       343
   macro avg       1.00      1.00      1.00       343
weighted avg       1.00      1.00      1.00       343